@model EVServiceCenter.Repositories.ThanNTH.Models.CenterPartThanNth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CenterPartThanNth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Center)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Center.ServiceCenterHieuptId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Part)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Part.PartThanNthid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CenterPartThanNthid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
